.modal {
    &.modal--callOutBanner {
        .modal__content--inner {
            max-width: 37.4rem;
            padding-top: 2.2rem;
        }

        iframe {
            max-width: 100%;
            @media screen and (max-width: $mobile-size){
                width: 100%;
            }

        }

    }
}

